<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:postgresql://localhost:5432/hib001001</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">password</property>
        <property name="dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="show_sql">true</property>
        <mapping resource = "ru/moskalets/hibernate/section001/task001/Item.hbm.xml"/>
        <mapping resource = "ru/moskalets/hibernate/section002/task001/CarXML.hbm.xml"/>
        <mapping resource = "ru/moskalets/hibernate/section002/task001/CarbodyXML.hbm.xml"/>
        <mapping resource = "ru/moskalets/hibernate/section002/task001/MotorXML.hbm.xml"/>
        <mapping resource = "ru/moskalets/hibernate/section002/task001/TransmissionXML.hbm.xml"/>
        <mapping resource = "ru/moskalets/hibernate/section002/task001/Category.hbm.xml"/>
        <mapping resource = "ru/moskalets/hibernate/section002/task001/Brand.hbm.xml"/>
        <mapping resource = "ru/moskalets/hibernate/section002/task001/User.hbm.xml"/>
        <mapping class="ru.moskalets.hibernate.section002.task001.CarAnnotations"/>
        <mapping class="ru.moskalets.hibernate.section002.task001.CarbodyAnnotations"/>
        <mapping class="ru.moskalets.hibernate.section002.task001.MotorAnnotations"/>
        <mapping class="ru.moskalets.hibernate.section002.task001.TransmissionAnnotations"/>
            </session-factory>
</hibernate-configuration>