<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <bean class = "org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix">
            <value>/WEB-INF/views/</value>
        </property>
        <property name="suffix">
            <value>.jsp</value>
        </property>
    </bean>

    <context:component-scan base-package="ru.moskalets"/>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="200000" />
    </bean>

    <bean id="memory" class="ru.moskalets.spring.section001.task001.MemoryStorage"/>
    <bean id="storage" class="ru.moskalets.spring.section001.task001.UserStorage">
        <constructor-arg name="storage" ref="memory"></constructor-arg>
    </bean>
    <bean id="configuration" class="ru.moskalets.spring.section001.task001.Configuration"/>
    <bean id="jdbcstorage" class="ru.moskalets.spring.section001.task001.JdbcStorage">
        <constructor-arg name="config" ref="configuration"></constructor-arg>
    </bean>
    <bean id="importuser" class="ru.moskalets.spring.section001.task001.ImportUser">
        <constructor-arg name="storage" ref="jdbcstorage"></constructor-arg>
    </bean>

</beans>